{% extends 'base.html.twig' %}
{% block title %}Contact List{% endblock %}
{% block body %}    
    <nav>
        <ul>
            <li><a href="logout">Logout</a></li>
        </ul>
        <div class="clearfix"></div>
    </nav>
    <h1 style="padding:10px;">Contact List</h1>
    <div class="container">
        <contact-list-filters></contact-list-filters>
        <table>
            <tr class="heading">
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Content</th>
            </tr>
            {% for row in rows %}
                <tr>
                    <td>{{ row.name|e }}</td>
                    <td>{{ row.email|e }}</td>
                    <td>{{ row.gender|e }}</td>
                    <td>{{ row.content|e }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="clearfix"></div>
    </div>
{% endblock %}